
#home {
  display: block;
  position: relative;
  width: 60%;
  margin: 0 auto;
  margin-top: 150px;
  text-align: center;
}

#home header {
  color: #fff;
}

#home header h1 {
  font-size: 500%;
  font-weight: 100;
  text-shadow: 1px 1px 1px #727272;
}

#home header p {
  font-size: 24px;
  font-weight: 200
}

#home header a {

}

#home header a.btn {
  display: block;
  width: 400px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 20px;
  font-weight: 200;
  font-size: 150%;
  border-radius: 2px;
  background: #81b900;
}

#home header a.btn:hover {
  color: #fff;
  text-decoration: none;
}
