
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #222326;
  background-color: #f8f8f8;
  background-image: url(/bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.auth-link,
.logout-link {
  display: none;
}

#main {
  padding-top: 60px;
  padding-bottom: 30px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #81b900;
}

.dialog {
  background: rgba(0,0,0,0.75);
  border: none;
  font-size: 200%;
  font-weight: 100;
  color: #fff;
}

.dialog .title {
  color: #81b900;
}

.dialog.error .title {
  color: rgb(126, 6, 6);
}

.tip {
  background: rgba(0,0,0,0.75);
  border: none;
  font-weight: 100;
  color: #fff;
}
